common --enable_bzlmod

# Linux/Mac default (GCC or Clang)
build:linux --copt=-std=c++20
build:linux --host_copt=-std=c++20

# Windows-specific
# build:windows is a custom config name
# Bazel doesn't automatically map the Windows platform to this
# It requires --config=windows
build:windows --enable_platform_specific_config
build:windows --cpu=x64_windows
build:windows --copt=/std:c++20
build:windows --host_copt=/std:c++20

build:windows --shell_executable=C:/msys64/usr/bin/bash.exe
build:windows --action_env=BAZEL_LLVM="C:/Program Files/LLVM"
build:windows --shell_executable=C:/tools/msys64/usr/bin/bash.exe


build:windows --build --enable_runfiles

# Auto-detect platform and apply config
build:auto --enable_platform_specific_config
